body {
    background-color:#f2f2f2 ;
}

#id_id{
    display:block;
}

.input-group-text {
background-color: #393e46;
color: white;
}

.titulo{
    margin-left: 7%;
    margin-top: 40px;
}

.produto  {
    
    border: 2px  solid rgb(150, 147, 147);
    border-radius: 0px ;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.produto p {
    margin-bottom: auto;
    background-color:white ;
    font-size: 25px;
    border-bottom: 1px solid rgb(150, 147, 147);

}
